* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input {
  font-family: var(--font-roboto);
  outline: none;
}

a {
  text-decoration: none;
}